<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Hello <%=Name%> </th>
        </tr>
        <tr>
            <td>
                <p>
                    I hope this email finds you well. You have been assigned a project. Please look at it and make updates on your progress.
                </p>
                <p>
                    Have a great day.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Yours, <br> Admin</p>
            </td>
        </tr>
    </table>
</body>
</html>