<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>
    <div class="formcontainer">
        <h2>Project Details</h2>
        <form action="">
            <div>
                <label for="Name">Project Name:</label>
                <input type="text" name="" id="" placeholder="Project Name">
            </div>
            <div>
                <label for="Name">Project Description:</label>
                <input type="text" name="" id="" placeholder="Project Description">
            </div>
            <div>
                <label for="Name">Project End Date:</label>
                <input type="date" name="" id="" placeholder="Project End Date">
            </div>
            <div>
                <label for="Handler">Project Handler:</label>
                <select name="Handler" id="option">
                    <option value="disabled">Choose Handler</option>
                    <option value="personname" class="projecthandlername">Sandra</option>
                </select>
            </div>
            <div>
                <button type="submit">Add Project</button>
            </div>
        </form>
    </div>
</body>
</html>