<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/css/user.css">
</head>

<body>
    <div class="container">
        <div class="company">
            <div class="imgdiv">
                <img src="https://st4.depositphotos.com/20523700/25935/i/450/depositphotos_259350398-stock-photo-illustration-h2o-icon.jpg" alt="Company Logo">
                <h1 class="heading">World Waters</h1>
            </div>
            <p>Dashboard</p>
            <!-- <p>Safe Water</p> -->
            <!-- <p>Contact Information:WorldWater@company.com</p>
            <h1 style="font-size: xx-large; line-height: 2;">Water<br> Project <br> Management <br>System</h1> -->
        </div>
        <div class="dashboard">
            <div class="nav">
                <div class="date">
                    <p id="dateDisplay">Date</p>
                </div>

                <div class="accountIcon">
                    <div>
                        <button class="personiconbtn">
                            <ion-icon name="person-circle-outline" class="personicon"></ion-icon><p class="personiconlink">Admin</p>
                        </button>
                    </div>
                    <div class="dropdown-content">
                        <a href="#">Admin</a>
                        <a href="#">Profile</a>
                        <a href="/views/signup.html">Logout</a>
                    </div>
                    <!-- <div class="accountDropdown">
                        <a href="#">Admin</a>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="/views/signup.html">Logout</a>
                        </div>
                    </div> -->
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="../public/JS/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
<script>
   function updateDate() {
    const dateElement = document.getElementById("dateDisplay");
    const now = new Date();
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const formattedDate = now.toLocaleDateString('en-US', options);
    dateElement.textContent = formattedDate;
}
updateDate();
setInterval(updateDate, 24 * 60 * 60 * 1000);


</script>

</html>