<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../public/css/user2.css" />
  </head>

  <body>
    <div class="users">
      <div class="container-one">
        <h2>World Waters</h2>
        <h3>Dashboard</h3>
        <button>Logout</button>
      </div>
      <div class="container-two">
        <div class="navbar">
          <h3 id="dateDisplay">Today's Date</h3>
            <i class="fa-solid fa-user">User</i>
        </div>
        <p>My Project</p>
        <div class="projectItems">
            <div class="projectItem">
              

            </div>
        </div>
        <div class="status">

        </div>
       
      </div>
    </div>
 
    <script src="../dist/user2.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
  <script>
    function updateDate() {
      const dateElement = document.getElementById("dateDisplay");
      const now = new Date();
      const options = { year: "numeric", month: "long", day: "numeric" };
      const formattedDate = now.toLocaleDateString("en-US", options);
      dateElement.textContent = formattedDate;
    }
    updateDate();
    setInterval(updateDate, 24 * 60 * 60 * 1000);
  </script>
</html>
